<!doctype html>
<title>Image Captioning App</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="../static/css/style.css" />
<script src="../static/js/script.js" defer></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/themes/vader/jquery-ui.css" />

<h3>Image Captioning App</h3>

<fieldset>
  <p id="status">Select an image</p>
  <div id="progressbar"></div>
  <input id="file" type="file" />
  <div id="drop">or drop image here</div>
</fieldset>
<div style="margin-top:5px; text-align: center; font-weight: 900;">
  <div>
    Solution:
    <div id=solution-container>

    </div>
  </div>
</div>
<div id="images"></div>
